<div class="banner-add">
  <h1>Add a new cocktail</h1>
</div>

<div class="container mt-5">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :picture, as: :file %>
    <%= f.submit class: "btn btn-warning" %>
  <% end %>


  <br>
  <%= link_to cocktails_path, class: "back-button text-warning" do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>

</div>
